{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{%load static%}

{% block content %}
{% if user.is_authenticated %}
  <!-- Hi {{ user.username }}! -->
  <html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
      integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="{% static 'css/home.css' %}" />

    <title>Kids Tube</title>
  </head>
  <body>
    <div class="toolbar">
      <!-- <button class="btn btn-sm card-button" data-toggle="modal"
      data-target="#modal-project-{{project.pk}}" >Upload</button>
      <button><a href="{% url 'logout' %}">Log Out</a></button> -->
      <nav>
        <div class="nav-wrapper" style="background-color: rgb(241, 182, 6); height: 5rem;">
          <div id="nav-mobile" class="right hide-on-med-and-down" style="padding-top: 15px;">
            <a href="/upload" class="btn btn-primary">Upload</a> 
            <a href="{% url 'logout' %}" class="btn btn-primary">Log Out</a>
          </div>
        </div>
      </nav>
    </div>
    <div class = "main">

      <div>
        {% for card in cards %}
          <div class="cards">
            <img class="cardImg" src="{{ card.image }}" alt="" />

            <div>
              <a href="about/"><h5> {{card.title}} </h5><a>
              <p class="cardDesc">
                {{ card.description }}
              </p>
            </div>
        </div>
        <br />
        {% endfor %}
    </div> 
   
  </body>
</html>

  </button>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Log In</a>
{% endif %}
{% endblock %}

