{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{%load static%}

{% block content %}
  <html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width"
    />

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
      integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="{% static 'css/home.css' %}" />

    <title>Kids Tube</title>
  </head>
  <body style="background-color:#1A1818;"" >
    <div class="toolbar">
      <nav>
        <div class="nav-wrapper" style="background-color:#1A1818; height: 4rem;">
          <div id="nav-mobile" class="right hide-on-med-and-down" style="padding-top: 15px;">
            <a href="#All" style="color:white; padding-left: 30px; text-decoration:none; padding-right: 50px; font-size: 15px;"> All</a> 
            <a href="#Movies" style="color:white; text-decoration:none; padding-right: 50px; font-size: 15px;">Movies</a>
            <a href="#Education" style="color:white; text-decoration:none; padding-right: 50px; font-size: 15px;">Education</a>
            <a href="#Sports" style="color:white; text-decoration:none; padding-right: 50px; font-size: 15px;">Sports</a>
            <a href="#News" style="color:white; text-decoration:none; padding-right: 50px; font-size: 15px;">News</a>
            <a href="#Gaming" style="color:white; text-decoration:none; padding-right: 50px; font-size: 15px;">Gaming</a>
            <a href="#All" style="color:white; text-decoration:none; padding-right: 50px; font-size: 15px;">Others</a>
            <input type="text" placeholder="Search" />
            <a href="/upload" style="color:white; text-decoration:none; padding-left: 50px; padding-right: 50px; font-size: 15px;">Upload</a>
            <a href="{% url 'index' %}" style="color:white; text-decoration:none; padding-right: 50px; font-size: 15px;">Log Out</a>
          </div>
        </div>
      </nav>
    </div>
    <div class = "main">

      <h2 style="color:white"> Trending </h2>
      <br />

      <div class="w3-content w3-section" style="max-width:100%">
        <img class="mySlides" src="{%static 'images/trending1.jpg' %}" style="width:100%">
        <img class="mySlides" src="{%static 'images/trending2.jpg' %}" style="width:100%">
        <img class="mySlides" src="{%static 'images/trending3.jpg' %}" style="width:100%">
      </div>

      <br />
      <section id = "Movies"><h2 style="color:white"> Movies </h2></section>
      <br />

      {% for card in cards %}
      {% if card.category == "Movies" %}
        <div class="w3-card-4 w3-margin" style="width:400px; display:inline-block;">
          <div class="w3-display-container w3-text-white">
            <img src="{{card.img}}" alt="Lights" style="width:400px">
            
          </div>
          <div class="w3-row">
            <div class="w3-container">
              <a href="videoplay/{{card.id}}" style="text-decoration: none"><h3 style="color:white"> {{card.title}} </h3></a>
              <p style="color:white"> {{card.description}} </p>
          </div>
        </div>       
      </div> 
    {% endif %}
    {% endfor %}

    <br />
    <section id = "Education"><h2 style="color:white"> Education </h2></section>
    <br />

    {% for card in cards %}
    {% if card.category == "Education" %}
      <div class="w3-card-4 w3-margin" style="width:400px; display:inline-block;">
        <div class="w3-display-container w3-text-white">
          <img src="{{card.img}}" alt="Lights" style="width:400px">
          
        </div>
        <div class="w3-row">
          <div class="w3-container">
            <a href="videoplay/{{card.id}}" style="text-decoration: none"><h3 style="color:white"> {{card.title}} </h3></a>
            <p style="color:white"> {{card.description}} </p>
        </div>
      </div>       
    </div> 
  {% endif %}
  {% endfor %}

  <br />
  <section id = "Sports"><h2 style="color:white"> Sports </h2></section>
  <br />

  {% for card in cards %}
  {% if card.category == "Sports" %}
    <div class="w3-card-4 w3-margin" style="width:400px; display:inline-block;">
      <div class="w3-display-container w3-text-white">
        <img src="{{card.img}}" alt="Lights" style="width:400px">
        
      </div>
      <div class="w3-row">
        <div class="w3-container">
          <a href="videoplay/{{card.id}}" style="text-decoration: none"><h3 style="color:white"> {{card.title}} </h3></a>
          <p style="color:white"> {{card.description}} </p>
      </div>
    </div>       
  </div> 
{% endif %}
{% endfor %}

<br />
<section id = "News"><h2 style="color:white"> News </h2></section>
<br />

{% for card in cards %}
{% if card.category == "News" %}
  <div class="w3-card-4 w3-margin" style="width:400px; display:inline-block;">
    <div class="w3-display-container w3-text-white">
      <img src="{{card.img}}" alt="Lights" style="width:400px">
      
    </div>
    <div class="w3-row">
      <div class="w3-container">
        <a href="videoplay/{{card.id}}" style="text-decoration: none"><h3 style="color:white"> {{card.title}} </h3></a>
        <p style="color:white"> {{card.description}} </p>
    </div>
  </div>       
</div> 
{% endif %}
{% endfor %}

<br />
<section id = "Gaming"><h2 style="color:white"> Gaming </h2></section>
<br />

{% for card in cards %}
{% if card.category == "Gaming" %}
  <div class="w3-card-4 w3-margin" style="width:400px; display:inline-block;">
    <div class="w3-display-container w3-text-white">
      <img src="{{card.img}}" alt="Lights" style="width:400px">
      
    </div>
    <div class="w3-row">
      <div class="w3-container">
        <a href="videoplay/{{card.id}}" style="text-decoration: none"><h3 style="color:white"> {{card.title}} </h3></a>
        <p style="color:white"> {{card.description}} </p>
    </div>
  </div>       
</div> 
{% endif %}
{% endfor %}

<br />
<section id = "All"><h2 style="color:white"><h2 style="color:white"> All </h2></section>
<br />

{% for card in cards %}
  <div class="w3-card-4 w3-margin" style="width:400px; display:inline-block;">
    <div class="w3-display-container w3-text-white">
      <img src="{{card.img}}" alt="Lights" style="width:400px">
      
    </div>
    <div class="w3-row">
      <div class="w3-container">
        <a href="videoplay/{{card.id}}" style="text-decoration: none"><h3 style="color:white"> {{card.title}} </h3></a>
        <p style="color:white"> {{card.description}} </p>
    </div>
  </div>       
</div> 
{% endfor %}

    <script>
      var myIndex = 0;
      carousel();
      
      function carousel() {
        var i;
        var x = document.getElementsByClassName("mySlides");
        for (i = 0; i < x.length; i++) {
          x[i].style.display = "none";  
        }
        myIndex++;
        if (myIndex > x.length) {myIndex = 1}    
        x[myIndex-1].style.display = "block";  
        setTimeout(carousel, 5000); // Change image every 2 seconds
      }
      </script>
  </body>
</html>

  </button>

{% endblock %}

