{%load static%}

<html>
    <head>
      <!-- Required meta tags -->
      <meta charset="utf-8" />
      <meta
        name="viewport"
        content="width=device-width"
      />
  
      <!-- Bootstrap CSS -->
      <link
        rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous"
      />
  
      <link
        rel="stylesheet"
        href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
        integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
        crossorigin="anonymous"
      />

      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  

<link rel="stylesheet" href="{% static 'css/videoplay.css' %}" />
<script>
  var commentlist = []
  function getComment(){
    var result =  document.getElementById("comment").value;
    commentlist.push(result)
    document.getElementById("comment-display").innerHTML = commentlist.join('<br><br>');
    document.getElementById("comment").value = " "
    console.log(commentlist)
  }
</script>
    </head>
    <body>
        <div class="toolbar">
            <nav>
              <div class="nav-wrapper" style="background-color:#1A1818; height: 4rem;">
                <div id="nav-mobile" class="right hide-on-med-and-down" style="padding-top: 15px;">
                  <a href="/home#All" style="color:white; padding-left: 30px; text-decoration:none; padding-right: 50px; font-size: 15px;"> All</a> 
                  <a href="/home#Movies" style="color:white; text-decoration:none; padding-right: 50px; font-size: 15px;">Movies</a>
                  <a href="/home#Education" style="color:white; text-decoration:none; padding-right: 50px; font-size: 15px;">Education</a>
                  <a href="/home#Sports" style="color:white; text-decoration:none; padding-right: 50px; font-size: 15px;">Sports</a>
                  <a href="/home#News" style="color:white; text-decoration:none; padding-right: 50px; font-size: 15px;">News</a>
                  <a href="/home#Gaming" style="color:white; text-decoration:none; padding-right: 50px; font-size: 15px;">Gaming</a>
                  <a href="/home#All" style="color:white; text-decoration:none; padding-right: 50px; font-size: 15px;">Others</a>
                  <input type="text" placeholder="Search" />
                  <a href="/upload" style="color:white; text-decoration:none; padding-left: 50px; padding-right: 50px; font-size: 15px;">Upload</a>
                  <a href="{% url 'index' %}" style="color:white; text-decoration:none; padding-right: 50px; font-size: 15px;">Log Out</a>
                </div>
              </div>
            </nav>
          </div>
<div class="container">
    

    <div class="video-content">
        {%if flag%}
        <div id="video">
            <video width="100%" height="100%" style="background-color: #1A1818"  controls>
                <source src="{{sel_card.vid}}" type="video/mp4">
              </video>
        </div>
        {%else%}
        <div>
          <img src="../static/images/no-content.jpeg" style="width: 90%;">
        </div>
        {%endif%}
        <br>
        <div id="description" >
            <h5>{{sel_card.title}}</h5>
            <p>{{sel_card.description}}</p>
        </div>
        <br>
        <h5>Comments</h5>
       
           <div class="comment-input" style="display: flex; flex-direction:row">
            <label for="comment"></label><br>
            <input type="text" id="comment" name="comment" placeholder="Enter Comment" style="height: 40px; width:70%"> 
            <!-- <i class="material-icons" style="color: white;" (click)="getComment()">&#xe163;</i> -->
            <button onclick= "getComment()">Send</button>
        </div>
            <br>

            <div id="comments">
                
                <p id="comment-display" style="color:white"></p>

                <!--<div class="w3-card-4" style="width:70%">
                  <div class="w3-container">
                    <hr>
                    <img src="../static/images/avtar.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
                    <p style="color:white">CEO at Mighty Schools. Marketing and Advertising. Seeking a new job and new opportunities.</p>
                    <hr>
                  </div>
                </div>-->
                  </div>
            </div>
    
    <div class="video-suggestions">
        <div class="video-sugg">
          {% for card in cards %}
            <div class="w3-card-4 w3-margin" style="width:400px; display:inline-block;">
              <div class="w3-display-container w3-text-white">
                <img src="{{card.img}}" alt="Lights" style="width:400px">
                
              </div>
              <div class="w3-row">
                <div class="w3-container">
                  <a href="{{card.id}}" style="text-decoration: none"><h3 style="color:white"> {{card.title}} </h3></a>
                  
              </div>
            </div>       
          </div>
          <br />
          <br />
        {% endfor %}
        
        </div>
    </div>
</div>
</body>
</html>

