* {
    color: black;
}

.main {
    padding-top: 25px;
    padding-left: 25px;
}

.cards {
    box-sizing: border-box;
    border: 1px solid black;
    padding: 10px;
    width: 1450px;
    height: 150px;
}

.cardImg {
    float: left;
    width: 250px;
    height: 120px;
    padding-right: 20px;
}

.cardDesc {
    padding-top: 10px;
    text-align: justify;
}